.message {
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    margin-right: 35px;
    margin: 10px;
}

.container {
    background-image: url('../navbar/images/background.jpg');    
}